body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 16px 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-1 {
  flex: 1;
}

.header,
.header-links {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.header-logo {
  flex: 1;
}

.section-2 {
  flex: 1;
}

.section-3 {
  flex: 1;
}

.section-4 {
  flex: 1;
}

.footer {
  flex: 1;
}
