body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.header {
  flex: 1;
  display: flex;
}

.section-1 {
  flex: 1;
}
.section-2 {
  flex: 1;
}

.section-3 {
  flex: 1;
}

.section-4 {
  flex: 1;
}

.footer {
  flex: 1;
}
