body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.section-1 {
  flex: 1;
}

.header,
.header-links {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  flex: 1;
}

.section-2 {
  flex: 1;
}

.section-3 {
  flex: 1;
}

.section-4 {
  flex: 1;
}

.footer {
  flex: 1;
}
